*{
	box-sizing:border-box;
    font-family:Roboto;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #222;
    color: #fff;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.circle_to_click {
    transition: 1s;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 102px;
    border: solid white 2px;
    border-radius: 50%;
    padding: 50px;

}

.circle_to_click:hover {
    width: 170px;
    height: 170px;
    color: #777;
    transition-duration: 1s;
    transition-timing-function: linear;
    font-size: 150px;
    border-color: #2ECC71; 
}

.dolar_text {
  position: absolute;
  font-size: 34px;
  color: #2ECC71;
  font-weight: bold;
}







